h1 {
    text-align: center;
    color: green;
}
#buttonContainer {
    padding: 5px;
    background-color: green;
    margin: 0;
    position: absolute;
    top: 42%;
    left: 45%;
    right: 45%;
}
#ogButton {
    padding: 5px;
    background-color: green;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}